@{
    ViewData["Title"] = "Home Page";
}
<a asp-action="Logout" style="margin-top:100px;margin-left:1000px">Logout</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<html>
    <body background = "bank1.jpg">

    </body>
</html>