
@{
    ViewData["Title"] = "Logout";
}

<font  color="violet">Logout Successfully!!!!!!!!!!!!!!!!!!!!</font><br/><br/>
 <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Login">Backtolist</a>

